body {
    font-family: 'Quicksand', sans-serif;  
    margin: 0;
    padding: 0;
  }
  
  h1, h2{
    color: #00a2c6;
  }
  
  h5, h6{
    color: #ffd900
  }
  
  footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;  
    text-align: center;
    font-weight: bold;
  }
  
  .profile header {
    text-align: center;
  }
  
  .featured-image {
    width: 100%;
    max-height: 300px;  
    object-fit: cover;
    object-position: center;
  }
  
  .profile img {
    width: 200px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;  
    padding: 20px;
    margin-top: 20px;
  }

  .coba {
    display: inline-block; /* Agar kotak menyesuaikan dengan ukuran teks */
    padding: 10px 20px; /* Ruang di dalam kotak */
    background-color: #00a2c6; /* Warna latar belakang */
    color: white; /* Warna teks */
    border-radius: 5px; /* Sudut melengkung */
    text-decoration: none; /* Menghapus garis bawah */
    font-weight: bold; /* Membuat teks tebal */
    transition: 0.3s; /* Efek transisi */
}

.coba:hover {
    background-color: #007b9e; /* Warna saat hover */
}

  .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
  }
  
  main {
    padding: 20px;
    overflow: auto;
  }

  .container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  #content {
    float: left;
    width: 75%;
  }

  aside {
    float: right;
    width: 23%;
  }

  header {
    display: inline;
  }
  
  @media screen and (max-width: 1000px) {
    #content, aside {
      width: 100%;
      padding: 0;
    }
    }